version: '3.8'

services:
  binance-bot:
    build: .
    image: binance-bot:v3
    container_name: grid_bot
    restart: always # 机器重启后自动重启机器人
    env_file:
      - .env # 自动将宿主机的 .env 文件注入到容器中
    volumes:
      - ./state:/app/state # 挂载状态文件，防止重启丢失网格进度
      - ./logs:/app/logs # 挂载日志文件，方便在宿主机直接查看
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:15-alpine
    container_name: binancebot_pg
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: binancebot
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: binancebot_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  pg_data:
  redis_data:
